@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;600;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', Helvetica, sans-serif;
}

header{
    width: 100%;
}

.hero{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.39),
        rgba(0, 0, 0, 0.39)), url(../Imagenes/Censo_04Port.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: auto;
    align-items: stretch;
   }

   .hero__title{
    font-size: 60px;
    font-weight: bold;
    color:aliceblue;
    margin: 0 0 0 30px;
   }

   .hero__title2{
    font-size: 60px;
    font-weight: bold;
    color:aliceblue;
    margin: 0 0 0 100px;
   }

   .linea_titulo{
    width: 15px;
    height: 200px;
    background:aliceblue;
    margin: 50px 0px 50px 10px;
    box-shadow: 0 0 10px rgb(255, 255, 255);
   }

   .hero__subtitle{
    letter-spacing: 30px;
    font-size: 2em;
    color: aliceblue;
    margin: 0 0 0 60px;
   }

   .hero__texts{
    text-shadow: 0 0 20px rgb(255, 255, 255);
   }

.container{
    display: flex;
    background-attachment: fixed;
    position: relative;
    align-items: stretch;
    max-width: 1400px;
    margin: auto;
   }

   .hero__container{
        display: flex;
        align-items: center;
        max-width: 1400px; 
   }
   .contenedor__header{
    display: flex;
    margin: auto;
   }

/* --------------PARTE MUESTRA ANUAL TITULO */

.link  {
text-decoration: none;
color: aliceblue;

}

/*---------------menu hamburguesa*/

#menu_pc{
    display: none;
    margin-top: 7px; 
   }

#menu_cel{
    display: flex;
}

@media (min-width: 576px){
    #menu_pc{
        display: flex;
        margin-right: 10px;
    }

    #menu_cel{
        display: none;
    }
}

.menu_burguer1 {
    position: top;      
}

#burguer {
    min-width: 20px;
    min-height: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    gap: .30rem;
    width: 3rem;
    height: 3rem;
    margin-top: 10px;
    
}

#burguer span{
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 2px;
    transition: all 300ms;
    transform-origin: left;
}

/*___activa*/
#burguer.active .line1{
    transform: rotate(45deg);
}
#burguer.active .line2{
    opacity: 0;
}
#burguer.active .line3{
    transform: rotate(-45deg);
}

/*___menu desplegable*/

#menu_cel div:nth-child(2){
    overflow: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color:  #41182d;
    align-items: center;
    justify-content: space-around;
    right: 0px;
    width: 0px;
    margin-top: 60px;
    transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

#menu_cel div.open:nth-child(2){
    height: 240px;
    width: 420px;
}

.nav__itemspc{
    text-align: center;
    font-size: 3ex;
    font-family: 'Titillium Web', sans-serif;
    font-weight: lighter;
    color: rgb(255, 255, 255);
    margin-right: 45px;
    text-shadow: 0 0 20px rgb(255, 255, 255);
    text-decoration: none;

}

.nav__items{
    text-align: center;
    font-size: 3ex;
    font-family: 'Titillium Web', sans-serif;
    font-weight: lighter;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 20px rgb(255, 255, 255);
    text-decoration: none;
    }


h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 15px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d4757f;
    min-height: 100vh;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 350px;
    width: 350px;
    height: 500px;
    flex-direction: column;
    gap: 35px;
    border-radius: 15px;
    background: #b65962;
    box-shadow: 16px 16px 32px #420320,
        -5px -5px 32px #420320;
    margin-top: 40px;
    margin-bottom: 40px;
}

.inputBox {
    position: relative;
    width: 250px;
}

.inputBox input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    color: #000;
    font-size: 1em;
    background: transparent;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    transition: 0.1s;
}

.inputBox span {
    margin-top: 5px;
    position: absolute;
    left: 0;
    transform: translateY(-4px);
    margin-left: 10px;
    padding: 10px;
    pointer-events: none;
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 3px;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
    transform: translateX(113px) translateY(-15px);
    font-size: 0.8em;
    padding: 5px 10px;
    background: #000;
    letter-spacing: 0.2em;
    color: #fff;
    border: 2px;
}

.crear{
    color: #000;
}

.inputBox input:valid,
.inputBox input:focus {
    border: 2px solid #000;
}

button {
    height: 45px;
    width: 100px;
    border-radius: 5px;
    border: 2px solid #000;
    cursor: pointer;
    background-color: transparent;
    transition: 0.5s;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    
}

button:hover {
    background-color: #000;
    color: white;
}

.boton_inicio{
    display: flex;
    text-align: center;
    align-items: center;
    cursor: pointer;
    margin: 40px 0 40px 0;
    text-decoration: none;
    }

    /*-----------------FOOTERRRRR */
    .footer{
        display: flex;
        margin-top: 0%;
        gap: 1px;
        background-color: #41182d;
        width: 100%;
        height: 150px;
        display: grid;
        grid-template-rows: 70px 0px 40px;
        align-items: center;
    
        }
    
        .iconos{
        display: flex;
        justify-content: center;
        gap: 2em;
        margin-top: 0;
    
        }
    
        .footer_container_icons{
        background-color: rgba(255, 255, 255, 0.795);
        display: inline-block;
        width: 40px;
        height: 40px;
        color: #fff;
        text-align: center;
        border: 1px solid #41182d;
        border-radius: 50%;
        margin-top: 30px;
        margin-bottom: 40px;
    
        }
    
        .footer_icon{
        color: #41182d;
        font-size: 20px;
        text-decoration: none;
    
    
        }
    
        .fab.footer_icon{
        line-height: 40px;
        }
    
        .copy{
        font-family: 'Titillium Web', sans-serif;
        font-weight: lighter;
        font-size: 1.3em;
        color: white;
        margin: auto ;
        margin-top: 40px;
        }
    
        .lineademierda{
            width: 70%;
            margin: auto;
            margin-top: 0;
            border-color: rgba(255, 255, 255, 0.541);
            background-color:  rgba(255, 255, 255, 0.541);
        }