
/*------------FUENTES TRANAJADAS*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;600;900&display=swap');
    
/*----------BODY */
    body{
    font-family: 'Raleway', sans-serif;
    background-color: rgb(226, 204, 162)
    }
/* ---------------HERO */
.header{
    width: 100%;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.39),
        rgba(0, 0, 0, 0.39));
    background-repeat: repeat;
    background-size: auto;
    display: flex;
    position: auto;
    align-items: stretch;
}

.hero{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.39),
        rgba(0, 0, 0, 0.39));
    background-repeat: repeat;
    background-size: auto;
    display: flex;
    position: auto;
    align-items: stretch;
}

.link{
    color: #fff;
    text-decoration: none;
}

.hero__title{
    font-size: 60px;
    font-weight: bold;
    color:aliceblue;
    margin: 0 0 0 30px;
}

.hero__title2{
    font-size: 60px;
    font-weight: bold;
    color:aliceblue;
    margin: 0 0 0 100px;
}

.linea_titulo{
    width: 15px;
    height: 200px;
    background:aliceblue;
    margin: 50px 0px 50px 10px;
    box-shadow: 0 0 10px rgb(255, 255, 255);
}

.hero__subtitle{
    letter-spacing: 30px;
    font-size: 2em;
    color: aliceblue;
    margin: 0 0 0 60px;
}

.hero__texts{
    text-shadow: 0 0 10px rgb(255, 255, 255);
    text-decoration: none;
}

.contenedor__header{
    display: flex;
}

.hero__container{
    display: flex;
    align-items: center;
    max-width: 1400px;           
}

.container{
    width: 90%;
    max-width: 1200px;
    margin-top: 0;
}
.container .btn-menu, .logo{
    float: right;
    position: top;
}
.container .btn-menu label{
    color: #fff;
    font-size: 70px;
    cursor: pointer;
    position: top;
}

.btn-menu{
    margin: auto;
    position: absolute;
    text-shadow: 0 0 10px rgb(255, 255, 255);
}
.logo h1{
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    margin-left: 10px;
}
.container .menu{
    float: right;
    line-height: 100px;
}
.container .menu a{
    position: absolute;
    display: inline-block;
    padding: 15px;
    line-height: normal;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 15px;
    margin-right: 5px;
}
.container .menu a:hover{
    border-bottom: 2px solid #c7c7c7;
    padding-bottom: 5px;
}
/*Fin de Estilos para el encabezado*/

/*Menù lateral*/
#btn-menu{
    display: flex;
    margin-top: 10px;
    visibility: hidden;
}

.container-menu{
    position: absolute;
    z-index: 100;
    position: fixed;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100vh;
    top: 0;left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}
#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}
.cont-menu{
    position: absolute;
    margin-top: 0;
    z-index: 100;
    width: 100%;
    max-width: 290px;
    background: #1c1c1c;
    height: 100vh;
    transition: all 600ms ease;
    transform: translateX(-100%);
}
#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}
.cont-menu nav{
    transform: translateY(15%);
}
.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #fff;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}
.cont-menu nav a:hover{
    border-left: 5px solid #c7c7c7;
    background: #1f1f1f;
}
.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 35px;
}
.menu_icon::before {
    margin-right: 4px;
}
.nav__items{
    text-align: left;
    font-size: 3ex;
    font-family: 'Titillium Web', sans-serif;
    font-weight: lighter;
    color: #FFF;
    text-shadow: 0 0 20px rgb(255, 255, 255);
    text-decoration: none;
}

.menu_general{
    position: top;
}
.items__menu{
    margin-top: 0;
    margin-bottom: 30px;
}

.redes__menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.redes__menu > div{
    width: 40%;
    display: flex;      
    justify-content: left;             
    align-items: left;
}

.menu_container_icons{
    background-color: rgba(255, 255, 255, 0.795);
    display: inline-block;
    width: 40px;
    height: 40px;
    color: rgba(53, 43, 43, 0.705);
    text-align: center;
    border: 1px solid  rgba(255, 255, 255, 0.795);
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;      
    justify-content: center;             
    margin-left: 20px;
    }

    .menu_icon{
    color: rgb(27, 25, 25);
    font-size: 25px;
    text-decoration: none;
    text-align: center;
    display: flex;      
    justify-content: center;             
    align-items: center;
    }

    .fab.menu_icon{
        line-height: 0px;
    }

    .redes_menu{
        font-size: 1.2em;
        color: #FFF;
        line-height: 70px;
    }

/*Fin de Menù lateral*/


    /*----------------------PARTE CARD */

    .cartas {
        width: 75%;
        height: auto;
        border-radius: 10px;
        background-color: rgba(116, 97, 72, 0.959);
        position: relative;
        padding: 1.3rem;
        transition: 0.5s ease-out;
        overflow: visible;
        margin: auto;
        box-shadow: 20px 20px 20px #00000071,
        -1px -1px 30px #00000071;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: center;
        padding-top: 13px;
        margin-top: 30px;

       }

       .card-details {
        color: rgb(0, 0, 0);
        height: auto;
        place-content: center;
        margin-bottom: 50px;
        margin-top: 50px;
       }


       .text-body {
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 2em;
        font-family: 'Titillium Web', sans-serif;
        font-weight: lighter;
       }

       /*Text*/
       .text-title1 {
        font-family: 'Titillium Web', sans-serif;
        font-size: 2em;
        font-weight: bold;
        text-align: center;
        color:  #ffffff;
       }

       .text-title2 {
        font-family: 'Titillium Web', sans-serif;
        font-size: 2em;
        font-weight: bold;
        text-align: center;
        color:  #ffffff;

       }

       /*Hover*/
       .cartas:hover {
        border-color:  #000000c2;
        box-shadow: 0px 5px 20px 14px  #000000c2;
       }


       /* ------IMAGENES CARDS */
       .img_picada{
        width: 130px;
        height: auto;
        position: relative;
       }

/*-----------------FOOTERRRRR */
.footer{
    display: flex;
    margin-top: 0%;
    gap: 1px;
    background-color: #2a1f1e;
    width: 100%;
    height: 150px;
    display: grid;
    grid-template-rows: 70px 0px 40px;
    align-items: center;

    }

    .iconos{
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-top: 0;

    }

    .footer_container_icons{
    background-color: rgba(255, 255, 255, 0.795);
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #fff;
    text-align: center;
    border: 1px solid #2a1f1e;
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 40px;

    }

    .footer_icon{
    color:  rgba(116, 97, 72, 0.959);
    font-size: 20px;
    text-decoration: none;


    }

    .fab.footer_icon{
    line-height: 40px;
    }

    .copy{
    font-family: 'Titillium Web', sans-serif;
    font-weight: lighter;
    font-size: 1.3em;
    color: rgba(255, 255, 255, 0.671);
    margin: auto ;
    margin-top: 40px;
    }

    .lineademierda{
        width: 70%;
        margin: auto;
        margin-top: 0;
        border-color: rgba(255, 255, 255, 0.548);
        background-color:  rgba(255, 255, 255, 0.548);
    }