
/*------------FUENTES TRANAJADAS*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;600;900&display=swap');

/* ---------------BODY */

    body{
    font-family: 'Raleway', sans-serif;
    background-image:  linear-gradient(
        rgba(0, 0, 0, 0.253),
        rgba(0, 0, 0, 0.253)),url("../Imagenes/Censo_03Port.jpg");
    background-attachment: fixed;
    background-size: auto;
    }

/* ---------------HERO */

   header {
        width: 100%;
   }
    
    
    .hero{
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.39),
            rgba(0, 0, 0, 0.39));
        background-repeat: repeat;
        background-size: auto;
        display: flex;
        position: auto;
        align-items: stretch;
       }

       .hero__title{
        font-size: 60px;
        font-weight: bold;
        color:aliceblue;
        margin: 0 0 0 30px;
       }

       .hero__title2{
        font-size: 60px;
        font-weight: bold;
        color:aliceblue;
        margin: 0 0 0 100px;
       }

       .linea_titulo{
        width: 15px;
        height: 200px;
        background:aliceblue;
        margin: 50px 0px 50px 10px;
        box-shadow: 0 0 10px rgb(255, 255, 255);
       }

       .hero__subtitle{
        letter-spacing: 30px;
        font-size: 2em;
        color: aliceblue;
        margin: 0 0 0 60px;
       }

       .hero__texts{
        text-shadow: 0 0 20px rgb(255, 255, 255);
       }

    .container{
        display: flex;
        background-attachment: fixed;
        position: relative;
        align-items:stretch;
        max-width: 1400px;
        margin: auto;
       }

       .hero__container{
            display: flex;
            align-items: center;
            max-width: 1400px;           
       }
       .contenedor__header{
        display: flex;
        margin: auto;
       }

/* --------------PARTE MUESTRA ANUAL TITULO */

.link  {
    text-decoration: none;
    color: aliceblue;

}

/*---------------menu hamburguesa*/

    #menu_pc{
        display: none;
        margin-top: 7px; 
       }

    #menu_cel{
        display: flex;
    }

    @media (min-width: 576px){
        #menu_pc{
            display: flex;
            margin-right: 10px;
        }

        #menu_cel{
            display: none;
        }
    }



    .menu_burguer1 {
        position: top;   
    }

    #burguer {
        min-width: 20px;
        min-height: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        cursor: pointer;
        gap: .30rem;
        width: 3rem;
        height: 3rem;
        margin-top: 10px;
    }

    #burguer span{
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: 2px;
        transition: all 300ms;
        transform-origin: left;
    }

    /*___activa*/
    #burguer.active .line1{
        transform: rotate(45deg);
    }
    #burguer.active .line2{
        opacity: 0;
    }
    #burguer.active .line3{
        transform: rotate(-45deg);
    }

    /*___menu desplegable*/

    #menu_cel div:nth-child(2){
        overflow: hidden;
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color:  #e0943d;
        align-items: center;
        justify-content: space-around;
        right: 0px;
        width: 0px;
        margin-top: 60px;
        transition: all 300ms ease-out;
        transition: all 300ms ease-out;
    }

    #menu_cel div.open:nth-child(2){
        height: 240px;
        width: 420px;
    }

    .nav__items{
        text-align: center;
        font-size: 3ex;
        font-family: 'Titillium Web', sans-serif;
        font-weight: lighter;
        color: rgb(255, 255, 255);
        text-shadow: 0 0 20px rgb(255, 255, 255);
        text-decoration: none;

    }

    .nav__itemspc{
        text-align: center;
        font-size: 3ex;
        font-family: 'Titillium Web', sans-serif;
        font-weight: lighter;
        color: rgb(255, 255, 255);
        margin-right: 45px;
        text-shadow: 0 0 20px rgb(255, 255, 255);
        text-decoration: none;
    
    }




    /*----------------------PARTE CARD */
    .card {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .card {
        width: 300px;
        height: 500px;
        border-radius: 30px;
        background-image: url(".../Imagenes/1.png");
        background-color: rgb(236, 236, 236);
        position: relative;
        padding: 1.8rem;
        transition: 0.5s ease-out;
        overflow: visible;
        margin: auto;
        margin-top: 50px;
        box-shadow: 10px 10px 10px #ff990071,
        -1px -1px 30px #ff990071;
       }

       .fondo_card{
        background-position: center;
        }

       .card-details {
        color: rgb(212, 130, 62);
        height: 100%;
        gap: .5em;
        display: grid;
        place-content: center;
       }

       .card-button {
        transform: translate(-50%, 125%);
        width: 60%;
        border-radius: 6rem;
        border: none;
        background-color: #ff9900c2;
        color: #fff;
        font-size: 3ex;
        padding: .5rem 1rem;
        position: absolute;
        left: 50%;
        bottom: 0;
        opacity: 50;
        transition: 0.3s ease-out;
       }

       .text-body {
        color: rgb(134, 134, 134);
        text-align: center;
        font-size: 5ex;
        font-family: 'Titillium Web', sans-serif;
        font-weight: lighter;
       }

       /*Text*/
       .text-title {
        font-family: 'Titillium Web', sans-serif;
        font-size: 3em;
        font-weight: bold;
        text-align: center;
        color:  #ff7b00c2;
       }

       /*Hover*/
       .card:hover {
        border-color:  #ff9900c2;
        box-shadow: 0px 5px 20px 14px  #ff9900c2;
       }

       .card:hover .card-button {
        transform: translate(-50%, 50%);
        opacity: 1;
       }


    /* ----------------PARTE STAFF */

    .staff_info_title{
        text-align: center;
        position: relative;
        color: white;
        font-family: 'Titillium Web', sans-serif;
        font-weight: 600;
        font-size: 6ex;
        margin: auto;
        margin-left: 10px;
        
        text-shadow: 0 0 20px rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, 0.342);
        border-radius: 50px;
    }

    .staff_info_body{
        text-align: center;
        color: white;
        font-family: 'Titillium Web', sans-serif;
        font-weight: 600;
        font-size: 4ex;
        margin: auto;
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 20px;
        text-shadow: 0 0 20px rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, 0.342);
        border-radius: 15px;
    }
    .staff_info_body_img{
        display: grid;
        grid-template-columns: 180px 180px;
        align-items: center;
        gap: .8em;
        max-width: 1700px;
        margin-left: 15px;
    }

    /*-----------IMAGENES STAFF */

    .teo_img{
        border-radius: 50%;
        image-resolution: auto;
        width: 150px;
        height: 150px;

    }

    .lola_img{
        border-radius: 50%;
        image-resolution: auto;
        width: 150px;
        height: 150px;
    }

    .valentina_img{
        border-radius: 50%;
        image-resolution: auto;
        width: 150px;
        height: 150px;
    }

    .rocio_img{
        border-radius: 50%;
        image-resolution: auto;
        width: 150px;
        height: 150px;
    }

    .jose_img{
        border-radius: 50%;
        image-resolution: auto;
        width: 150px;
        height: 150px;
    }

    .pucho_img{
        border-radius: 50%;
        image-resolution: auto;
        width: 150px;
        height: 150px;
    }

    .nombres_img{
        text-align: center;
        color: white;
        font-family: 'Titillium Web', sans-serif;
        font-weight: 600;
        font-size: 30px;
        margin: 20px 10px 25px 20px;
        text-shadow: 0 0 20px rgb(255, 255, 255);
        
  
    }

/*-----------PARTE HISTORIA MUESTRA */

    .muestra_historia_title{
        text-align: center;
        color: white;
        font-family: 'Titillium Web', sans-serif;
        font-weight: 600;
        font-size: 6ex;
        text-shadow: 0 0 20px rgb(255, 255, 255);
    }
    .muestra_historia_title2{
        text-align: left;
        color: white;
        font-family: 'Titillium Web', sans-serif;
        font-weight: 600;
        font-size: 3ex;
        margin-top: 50px;
        margin-left: 10px;
        text-shadow: 0 0 20px rgb(255, 255, 255);
    }




/*-----------------FOOTERRRRR */
    .footer{
    display: flex;
    margin-top: 0%;
    gap: 1px;
    background-color: #da9351;
    width: 100%;
    height: 130px;
    display: grid;
    grid-template-rows: 40px 100px;
    align-items: center;

    }

    .iconos{
    display: flex;
    justify-content: center;
    gap: 3em;
    margin-top: 1px;
    }

    .footer_container_icons{
    display: inline-block;
    width: 60px;
    height: 60px;
    color: #fff;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-top: 5px;

    }

    .footer_icon{
    color: white;
    font-size: 30px;
    text-decoration: none;

    }

    .fab.footer_icon{
    line-height: 60px;
    }

    .copy{
    font-family: 'Titillium Web', sans-serif;
    font-weight: lighter;
    font-size: 3ex;
    color: white;
    margin: auto ;
    align-items: center;  
    }
